.Input-Control {
  width: 100%;
  border: var(--control-border) solid var(--color-control-border);
  background-color: var(--color-control-bg);
  box-sizing: border-box;
  height: var(--input-height);
  padding: 11px 13px 10px;
  border-radius: var(--control-radius);
  outline: none;
  font-size: var(--text-size-xs);
  line-height: var(--text-line-height-2xs);

  &::placeholder {
    color: var(--color-text-control-placeholder);
  }

  &:focus {
    border-color: var(--color-control-border-focus);
  }
}