.Theme_size_default {
  --text-size-2xs: 10px;
  --text-size-xs: 13px;
  --text-size-s: 15px;
  --text-size-m: 16px;
  --text-size-l: 18px;
  --text-size-xl: 24px;

  --text-line-height-2xs: 15px;
  --text-line-height-xs: 16px;
  --text-line-height-s: 18px;
  --text-line-height-m: 20px;
  --text-line-height-l: 22px;
  --text-line-height-xl: 28px;
  --text-line-height-2xl: 30px;
  --text-line-height-3xl: 36px;
}