.Typography_variant_h1 {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 500;
  font-size: var(--text-size-xl);
  line-height: var(--text-line-height-xl);
  letter-spacing: 0.25px;
  margin: var(--space-3xs) 0;
}